
/* Fuentes usadas */
@font-face {
  src: url(./assets/Averta-Semibold.otf);
  font-family: prueba;
}

@font-face {
  src: url(./assets/Averta-Regular.otf);
  font-family: prueba-regular;
}
/* ---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(242, 242, 242);
}

/* container central */
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 1%;
  margin: 10% 25%;
  width: 45%;
}
/* Foto perfil */
.foto {
  margin-right: 3%;
}

.foto img {
  width: 200%;
  margin: 20px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* Texto y fecha */

.text {
  margin-left: 5%;
}

h4 {
  font-family: prueba-regular;
  font-weight: lighter;
  font-size: 20px;
}

p {
  color: rgba(12, 12, 13, 0.5);
  font-family: prueba-regular;
  font-weight: lighter;
  font-size: 15px;
}

.date {
  margin-left: 2%;
}

.date h4 {
  font-family: prueba-regular;
  font-weight: lighter;
  font-size: 20px;
}

/* Iconos con Hover */

.icons {
  width: 20%;
  margin-left: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons svg {
  background: transparent;
  cursor: pointer;
  fill: #696969;
  margin-left: 5%;
}

.icons svg:hover {
  background-color: #333333;
  fill: white;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #333333;
}

.rotate {
  background-color: transparent;
  background-size: 10px;
  outline: 2px dashed;
  transform: rotate(45deg);
}


/* Barra de progreso */

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  width: 293px;
  height: 56px;
  border: 0.05px solid #CFCFCF;
  margin-left: 2%;
}

.outline-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box1 {
  width: 38px;
  height: 32px;
  background: #1bcaff;
  position: relative;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  font-family: prueba-regular;
}



.box2 {
  width: 196px;
  height: 32px;
  background: rgba(00, 00, 247, 0.2);
  position: relative;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: 0.5px solid rgba(00, 00, 247, 0.5);
  text-align: right;
  font-family: prueba-regular;
}

.box3 {
  width: 32px;
  height: 32px;
  background: #5c5dff;
  position: relative;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: prueba-regular;
}

.box4-doted {
  width: 36px;
height: 32px;
background: transparent;
border: 1px dashed #CFCFCF;
position: relative;
color: white;
font-size: 20px;
border-radius: 10px;
margin-left: 5%;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}

.box4-doted svg {
  fill: #E8BC00;
}